/Manufacturer.class
/ManufacturerToTransporterOrder.class
/MerchandiseTraceClient.class
/Order.class
/Retailer.class
/Role.class
/TraceChain.class
/Transporter.class
/TransporterToRetailerOrder.class
